<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartSolar"
        android:usesCleartextTraffic="true"
        tools:targetApi="34">

        <!-- Launcher -->
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.SmartSolar.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Auth -->
        <activity android:name=".ui.LoginActivity" android:exported="false" />

        <!-- Member 2: Solar Stations & Infrastructure -->
        <activity android:name=".ui.StationsListActivity" android:exported="false" />
        <activity android:name=".ui.StationDetailActivity" android:exported="false" />

        <!-- Member 4: Field Operations, QR Code Verification & Operator Portal -->
        <activity android:name=".fieldops.member4.operations.OperatorDashboardActivity" android:exported="false" />
        <activity android:name=".fieldops.member4.qrscanner.ScanQrActivity" android:exported="false" />
        <activity android:name=".fieldops.member4.qrverification.TransactionVerifyActivity" android:exported="false" />
        <activity android:name=".fieldops.member4.operations.CompletedTransactionsActivity" android:exported="false" />
        <activity android:name=".fieldops.member4.qrscanner.TransactionQrActivity" android:exported="false" />

    </application>
</manifest>
