<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Internet access for ASP.NET Core Web API -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Check network availability -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Location permissions for Google Maps / nearby solar stations -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartSolar"
        android:usesCleartextTraffic="true"
        tools:targetApi="34">

        <!-- Splash Screen -->
        <activity
            android:name=".shared.navigation.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.SmartSolar.Splash">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Member 1: Authentication -->
        <activity
            android:name=".auth.ui.LoginActivity"
            android:exported="false" />


        <!-- Member 1: User Registration -->
        <activity
            android:name=".auth.ui.RegisterActivity"
            android:exported="false" />

        <!-- Member 1: User Profile -->
        <activity
            android:name=".auth.ui.ProfileActivity"
            android:exported="false" />

        <!-- Member 1: Authentication -->

        <!-- Member 2: Solar Station -->
        <activity
            android:name=".stations.ui.StationDetailActivity"
            android:exported="false" />

        <activity
            android:name=".stations.ui.StationFullDetailActivity"
            android:exported="false" />

    </application>

</manifest>